@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


$bg-color-blue: rgb(5, 19, 58);
$bg-color-lightblue: rgb(31, 43, 80);
$bg-color-darkwhite: #FAFBFD;
$bg-color-hover-white: #F7F8FA;
$border-color-white: #f5f5f5;
$font-color-black: #081333;
$font-color-blue: #003171;
$font-color-gray: rgb(78, 81, 103);
$font-color-white: #E0E0E0;


html,
body {
	position: relative;
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: $bg-color-darkwhite;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
}


* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: unset;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	text-rendering: optimizeLegibility !important;
}



#sidebar {
	padding: 35px 20px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 250px;
	background-color: $bg-color-blue;
	border-right: 2px solid $bg-color-hover-white;
	z-index: 3;

	#logo {
		image-rendering: -moz-crisp-edges;
		image-rendering: crisp-edges;

	}

	.divLine {
		position: absolute;
		top: 160px;
		left: 0px;
		width: 4px;
		height: 30px;
		background-color: rgb(79, 169, 177);
		border-radius: 5px;
		transition: all 0.2s;
	}

	.txtSearch {
		margin: 25px 0px;
		width: 100%;
		padding: 8px;
		padding-left: 35px;
		border: 0px;
		border-radius: 5px;
		height: 40px;
		font-family: Inter;
		font-size: 15px;
		color: $font-color-white;
		outline: $bg-color-darkwhite !important;
		background: $bg-color-lightblue url(../public/Image/icon/loupe.png) left no-repeat;
		background-size: 18px;
		background-position: 10px;
		caret-color: white;

		&::-webkit-input-placeholder {
			color: #9FA8DA;
		}

		&:-moz-placeholder {
			color: #9FA8DA;
		}

		&::-moz-placeholder {
			color: #9FA8DA;
		}

		&:-ms-input-placeholder {
			color: #9FA8DA;
		}
	}
}



.ulSidebar {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	margin-top: -5px;

	li {
		transition: all 0.2s;
		cursor: pointer;
		border-radius: 5px;
		margin-top: 5px;
		padding: 10px 10px;
		position: relative;

		&:hover {
			background: $bg-color-lightblue;
		}

		span {
			font-size: 14px;
			color: white;
			font-family: Inter;
			margin-left: 10px;
		}

		.imgSidebar {
			cursor: pointer;
			width: 20px;
			image-rendering: -moz-crisp-edges;
			image-rendering: crisp-edges;
			margin-top: -5px !important;
		}

		.circle-with-text {
			position: absolute;
			color: white;
			top: 13px;
			font-size: 14px;
			font-family: Inter;
			background-color: #F94350;
			right: 15px;
			padding: 8px;
			width: 20px;
			height: 20px;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			text-align: center;
			display: flex;
		}

	}
}

.hrSidebar {
	background-color: $bg-color-lightblue;
}

.divNavbar {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 70px;
	border-bottom: 2px solid $bg-color-hover-white;
	color: #fff;
	background-color: #fff;
	z-index: 2;

	#dropdown-basic-button {
		float: right;
		margin-top: 14px;
		background-color: transparent !important;
		font-size: 15px;
		font-family: Inter;
		color: $font-color-black;
		border: none !important;
		font-weight: 600;
		outline: none !important;

		&:focus {
			border-color: none !important;
			outline: 0;
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		}
	}

	.divTime {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 20px;
		display: none;
		text-align: center;
		width: 300px;

		p {
			font-size: 18px;
			font-family: 'Inter', sans-serif;
			font-weight: 600;
			color: $font-color-black;
			margin-bottom: 0px;
		}

	}

	.divHamburger {
		position: absolute;
		left: 260px;
		top: 15px;

		button {
			outline: none !important;
		}
	}
}

.dropdown {
	#dropdown-basic-button {
		font-size: 15px;
		font-family: 'Roboto';
		color: $font-color-black;
		font-weight: 600;
	}
}


.dropdown-item {
	font-size: 15px;
	font-family: 'Roboto';
	color: $font-color-black;
	font-weight: 600;

	&:hover {
		color: $bg-color-blue !important;
	}
}

#imgProfile {
	border-radius: 50%;
	object-fit: cover;
	float: right;
	margin-top: 14px;
}

.divDashboard {
	padding-left: 270px;
	margin-top: 85px;

	.pWelcome {
		font-size: 35px;
		font-family: 'Inter';
		color: $font-color-black;
		font-weight: 800;
		margin-bottom: 3px;
	}

	.pNew {
		font-size: 14px;
		font-family: Inter;
		color: $font-color-gray;
		font-weight: 600;
		margin-left: 2px;
	}

	.divTimeEntry {
		display: none;

		thead {
			tr {
				th {
					font-family: 'Inter';
					border-bottom: 2px solid #EEEEEE !important;
				}
			}
		}
	}

	.divSearch {
		background-color: #fff;
		width: 100%;
		height: 70px;
		border-radius: 10px;
		border: 2px solid $bg-color-hover-white;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

		.txtSearch {
			padding: 8px;
			padding-left: 40px;
			border: 2px solid #F5F5F5;
			font-family: 'Inter', 'Roboto';
			font-weight: 500;
			width: 350px;
			color: $font-color-black;
			outline: none !important;
			border-radius: 8px;
			margin-top: 12px;
			margin-left: 10px;
			margin-right: 20px;
			background: $bg-color-hover-white url(../public/Image/icon/loupe_blue.png) left no-repeat;
			background-size: 18px;
			background-position: 10px;
		}

		.btnSearch,
		.btnAdd {
			padding: 7px 13px;
			border: 2px solid #F5F5F5;
			border-radius: 8px;
			background-color: #fafafa;
			color: $font-color-blue;
			font-family: 'Roboto';
			margin-top: 12px;
			margin-right: 10px;
			margin-left: 15px;
			outline: none !important;
			width: auto !important;

			img {
				margin-right: 8px;
			}

			&:hover {
				box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

			}

			.btnAdd {
				margin-right: 0px !important;
			}
		}

		.btnAdd {
			margin-left: 0px !important;
		}
	}

}

.ulDashboard {
	list-style-type: none;
	overflow: hidden;
	margin: 0px auto;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 15px;
	margin-left: 5px;

	li {
		font-family: 'Roboto';
		float: left;
		font-size: 15px;
		display: block;
		color: $font-color-gray;
		text-align: center;
		margin-right: 35px;
		text-decoration: none;
		cursor: pointer;
		margin-bottom: 0px;
		width: max-content;
		text-align: center;
		padding-bottom: 7px;

	}

	.activeUl {
		color: $font-color-blue;
		font-weight: 700;
		border-bottom: 2px solid $font-color-blue;
	}
}

.activeUl {
	color: $font-color-black;
	font-weight: 700;
	border-bottom: 2px solid $bg-color-blue;
}

.hrDashboard {
	background-color: #ffffff;
	height: 2px;
	margin-top: 0px;
	margin-left: 5px;
}


.modal-body {
	padding: 25px;

	.modal-details {
		margin-top: 10px;
		padding: 0px;

		.pModalheadertext {
			color: #616161;
			font-family: 'Roboto';
			font-size: 14px;
			font-weight: 600;
			margin-left: 2px;
			margin-bottom: 2px;
			margin-top: 10px;
		}

		.txtInput {
			padding: 8px;
			border-radius: 5px;
			font-family: 'Roboto';
			font-size: 15px;
			width: 100%;
			background: #F7F8FA;
			border: 2px solid #EEEEEE;
			outline: none;

			&:focus {
				border-color: #003171;
				transition-delay: 0.1s;
			}
		}

		.btnSaveEvent,
		.btnCancelEvent {
			padding: 7px 13px;
			border: 2px solid #F5F5F5;
			border-radius: 8px;
			background-color: #fafafa;
			color: $font-color-blue;
			font-family: 'Roboto';
			margin-top: 12px;
			margin-right: 10px;
			margin-left: 15px;
			outline: none !important;
			min-width: 150px;

			&:hover {
				box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

			}
		}
	}

	.pModalheader {
		color: #3E3D42;
		font-family: 'Inter';
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 2px;
	}

	.pModalheadersub {
		color: #757575;
		font-family: 'Inter';
		font-size: 14px;
		font-weight: 500;
		margin-left: 2px;
	}

}



table {
	margin-top: 20px;
	border-collapse: separate;
	border-spacing: 0 4px;

	tbody {
		tr {
			&:hover {
				background-color: #F3F2EE;
			}
		}
	}

	th {
		color: $font-color-gray;
		font-family: 'Roboto';
		font-size: 15px;
	}

	tr {
		cursor: pointer;
		padding: 2px;
		border-radius: 5px;


	}

	td {
		color: $font-color-blue;
		font-family: 'Inter';
		font-size: 15px;
		font-weight: 600;

		p {
			color: $font-color-blue;
			margin-bottom: 0px;

			img {
				width: 15px;
				margin-right: 5px;
				margin-top: -2px;
			}
		}

		.tableNotes {
			display: block;
			width: 400px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			;
			font-size: 14px;
			margin-top: 3px;
		}

		.pBuss {
			color: #FC883B;
			width: max-content;
			border-radius: 5px;

		}

		.pSession {
			color: #6B5BCC;
			width: max-content;
			border-radius: 5px;

		}

		img {
			width: 30px;
			object-fit: cover;
			border-radius: 50%;
			margin-top: -5px;
			margin-right: 2px;
		}
	}
}

.react-datepicker-wrapper {
	background: #F7F8FA;
	border: 2px solid #EEEEEE;
	padding: 8px;
	border-radius: 5px;
	width: 100%;
}

.react-datepicker__input-container {
	background: #F7F8FA;
	border: 2px solid #EEEEEE;
	padding: 8px;
	border-radius: 5px;
	width: 100%;

	&:focus {
		border: 2px solid $font-color-blue;
	}

	input {
		background-color: transparent;
		font-size: 15px;
		font-family: 'Roboto';
		border: 0px;
		outline: none !important;

	}
}



textarea {
	padding: 8px;
	border-radius: 5px;
	font-family: 'Roboto';
	font-size: 15px;
	width: 100%;
	background: #F7F8FA;
	border: 2px solid #EEEEEE;
	outline: none;
	margin-bottom: -2px;
	resize: none;

	&:focus {
		border: 2px solid $font-color-blue;
	}
}

.tableAppointment,
.tableTime {
	margin-top: -4px;

	thead {
		tr {
			th {
				font-family: 'Inter';
				padding: 15px;
				font-size: 14px;
				font-weight: 600 !important;
				background-color: #F9F9FB;
				border-bottom: 2px solid #EEEEEE !important;
			}
		}
	}

	tbody {
		tr {
			&:hover {
				background-color: #F3F2EE;
			}

			td {
				padding: 30x auto;
			}
		}
	}
}

.divDocuments {
	padding-left: 270px;
	display: none;
	margin-top: 85px;

	p {
		font-size: 35px;
		font-family: 'Inter';
		color: $font-color-black;
		font-weight: 800;
		margin-bottom: 3px;

		&:not(:first-child) {
			font-size: 14px;
			font-weight: 500;
			font-family: 'Inter';
			color: $font-color-gray;
			width: 500px;
			display: block;
		}
	}

	.txtSearch {
		padding: 8px;
		padding-left: 40px;
		border: 2px solid $border-color-white;
		font-family: 'Inter', 'Roboto';
		font-weight: 500;
		width: auto;
		color: $font-color-black;
		outline: none !important;
		border-radius: 8px;
		margin-top: 12px;
		margin-left: 5px;
		background: $bg-color-hover-white url(../public/Image/icon/loupe_blue.png) left no-repeat;
		background-size: 18px;
		background-position: 10px;
		transition: all 0.1s;

		&:focus {
			border-color: rgba(0, 49, 113, 0.5)
		}
	}

	.btnCreateDocu {
		padding: 9px 13px;
		border: 2px solid #EEEEEE;
		border-radius: 8px;
		background-color: #fff;
		color: $font-color-blue;
		font-family: 'Roboto';
		margin-top: 12px;
		margin-right: 10px;
		margin-left: 15px;
		outline: none !important;
		float: right;

		&:hover {
			box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;
		}
	}
}

.tableDocu {


	thead {
		tr {
			th {
				font-family: 'Inter';
				padding-left: 0px;
				padding-bottom: 25px;
				border-bottom: 2px solid #424242 !important;
			}
		}
	}

	tbody {
		tr {

			td {
				vertical-align: middle;
				border-bottom: 1px solid #E3E2E2;

				p {
					font-size: 14px;
					color: $font-color-black;
					font-family: "Roboto";

				}

				.pItemName {
					color: $font-color-black;
					font-family: "Roboto";
					font-weight: 600 !important;
					font-size: 15px;

					img {
						width: 35px !important;
						border-radius: 0px !important;
						margin-right: 15px;
					}
				}

				.pSize {
					background-color: #E5E5E5;
					padding: 5px;
					color: gray;
					text-align: center;
					max-width: 80px;
					border-radius: 4px;
				}
			}
		}
	}
}


.divEmr {
	padding-left: 270px;
	display: none;
	margin-top: 85px;

	p {
		font-size: 35px;
		font-family: 'Inter';
		color: $font-color-black;
		font-weight: 800;
		margin-bottom: 3px;

		&:not(:first-child) {
			font-size: 14px;
			font-weight: 500;
			font-family: 'Inter';
			color: $font-color-gray;
			width: 550px;
			display: block;
		}
	}

	button {
		padding: 7px 16px;
		border: 2px solid #F5F5F5;
		border-radius: 8px;
		background-color: #fafafa;
		color: $font-color-blue;
		font-family: 'Roboto';
		margin-top: 12px;
		margin-right: 5px;
		margin-left: 15px;
		outline: none !important;

		img {
			margin-right: 8px;
		}

		&:hover {
			box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

		}
	}

	.divSearch {
		margin-top: 25px;
		background-color: #fff;
		width: 100%;
		height: 68px;
		border-radius: 10px;
		border: 2px solid $bg-color-hover-white;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

		.txtSearch {
			padding: 8px;
			padding-left: 40px;
			border: 2px solid $border-color-white;
			font-family: 'Inter', 'Roboto';
			font-weight: 500;
			width: 48% !important;
			color: $font-color-black;
			outline: none !important;
			border-radius: 8px;
			margin-top: 4px;
			margin-left: 5px;
			margin-right: 40px;
			background: $bg-color-hover-white url(../public/Image/icon/loupe_blue.png) left no-repeat;
			background-size: 18px;
			background-position: 10px;
		}

		.react-datepicker-wrapper {
			background: transparent !important;
			border: none !important;
			padding: 8px;
			border-radius: 5px;
			width: 150px;
			margin-top: 4px;
			margin-left: -5px;
		}

		.react-datepicker__input-container {
			background: #F7F8FA;
			border: 2px solid $border-color-white;
			padding: 5px;
			border-radius: 5px;
			width: 100%;

			&:focus {
				border: 2px solid $font-color-blue;
			}

			input {
				background-color: transparent;
				font-size: 15px;
				font-family: 'Inter';
				font-weight: 500;
				border: 0px;
				outline: none !important;

			}
		}

		button {
			margin-top: 5px !important;
			width: 120px;
		}
	}
}

.conEmrtable {
	background-color: white;
	border: 2px solid $border-color-white;
	border-radius: 10px;
	margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
	padding: 0px !important;

}

.tableEmr {
	thead {
		tr {
			th {
				font-family: 'Inter';
				padding-bottom: 25px;
				border-bottom: 2px solid #EEEEEE !important;
			}
		}
	}

	tbody {
		tr {
		

			td {
				width: 15%;
				vertical-align: middle;


				p {
					font-size: 14px;
					color: $font-color-black;
					font-family: "Roboto";

				}

			}
		}
		button {
			border: 2px solid $border-color-white;
			background-color: #F9F9FB;
			border-radius: 5px;
			padding: 5px;

		}
	}
}

.divDirectory {
	padding-left: 270px;
	display: none;
	margin-top: 85px;
	padding-bottom: 40px;

	p {
		font-size: 35px;
		font-family: 'Inter';
		color: $font-color-black;
		font-weight: 800;
		margin-bottom: 3px;

		&:not(:first-child) {
			font-size: 14px;
			font-weight: 500;
			font-family: 'Inter';
			color: $font-color-gray;
			width: 550px;
			display: block;
		}
	}

	button {
		padding: 7px 16px;
		border: 2px solid #F5F5F5;
		border-radius: 8px;
		background-color: white;
		color: $font-color-blue;
		font-family: 'Inter';
		margin-top: 12px;
		margin-right: 5px;
		margin-left: 15px;
		outline: none !important;
		float: right;
		font-size: 15px;
		font-weight: 600;

		&:hover {
			box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

		}
	}

	.conAdduser {
		.ulDashboard {
			margin-top: 30px;
		}

		.conAdd {
			background-color: white;
			border: 2px solid $border-color-white;
			border-radius: 10px;
			margin-top: 20px;
			box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
			padding: 20px;

			.pHeaderAdd {
				font-family: 'Inter';
				margin-bottom: 2px;
				font-size: 1rem;
				font-weight: 600;
				margin-left: 5px;
				color: $font-color-gray;
			}

			.pHeaderAddsub {
				font-family: 'Inter';
				margin-bottom: 10px;
				font-size: 0.9rem;
				font-weight: 500;
				margin-left: 5px;
				color: $font-color-gray;
			}

			.txtInput {
				padding: 8px;
				border-radius: 5px;
				font-family: 'Roboto';
				font-size: 15px;
				width: 100%;
				background: #F7F8FA;
				border: 2px solid #EEEEEE;
				outline: none;
				margin-bottom: 15px;

				&:focus {
					border-color: #003171;
					transition-delay: 0.1s;
				}
			}

			.pAddnum {
				font-family: 'Inter';
				color: $font-color-blue;
				font-size: 0.9rem;
				font-weight: 600;
				cursor: pointer;
				margin-top: -5px;
				margin-bottom: 10px;

				&:hover {
					text-decoration: underline;
				}
			}

			.imgProfile {
				width: 150px;
			}

			.btnDeletePhone {
				background-color: #1C1D2E;
				color: white;
				width: 100%;
				font-family: 'Inter';
				font-weight: 500;
				padding: 10px;
				margin-top: 25px;
			}

			.divUpload {
				background-color: #F7F8FA;
				background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EEEEEEFF' stroke-width='6' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
				width: 100%;
				height: 150px;
				display: flex;
				align-items: center;
				transition: all 0.2s;
				cursor: pointer;

				p {
					font-family: 'Inter';
					font-weight: 500;
					font-size: 14px;
					text-align: center !important;
					width: 100% !important;
					cursor: pointer;
					margin-top: 10px;
				}

				&:hover {
					p {
						color: $font-color-blue;
						font-weight: 600;
					}
				}
			}

		}

	}

}

.rowDirectory {}

.conAdduser {
	display: none;
}

.tableDirectory {
	margin-top: -4px;

	thead {
		tr {
			th {
				font-family: 'Inter';
				padding: 15px;
				font-size: 14px;
				font-weight: 600 !important;
				background-color: #F9F9FB;
				border-bottom: 2px solid #EEEEEE !important;
			}
		}
	}

	tbody {
		tr {

			td {
				vertical-align: middle;

				.form-inline {
					img {
						width: 45px;
						margin-right: 15px;
					}
				}

				p {
					font-size: 14px;
					color: #424242;
					font-family: "Roboto";
					font-weight: 500;
				}

				.pAdmin {
					background-color: #EBF8F5;
					padding: 5px 10px;
					color: #2FB182;
					border-radius: 5px;
					width: max-content;
				}

				.pClinician {
					background-color: #F2F4F8;
					padding: 5px 10px;
					color: #003171;
					border-radius: 5px;
					width: max-content;
				}

				.pActive {
					color: #2FB182;
				}

				.pDraft {
					color: #DA3059;
				}

				span {
					color: $font-color-blue;
					font-family: 'Inter';
					font-size: 15px;
					font-weight: 700;

					span {
						font-size: 14px;
						font-weight: 500;
						font-family: 'Roboto';
						color: $font-color-gray;
					}
				}

				button {
					border: 2px solid $border-color-white;
					background-color: #F9F9FB;
					border-radius: 5px;
					padding: 5px;

				}

			}


		}
	}


}

.imgAction {
	border-radius: 0px !important;
	width: 18px !important;
	margin-left: 4px;
}

.pModalTitle {
	font-size: 1.1rem;
	font-weight: 600;
	font-family: 'Inter';
	color: $font-color-black;
	margin-bottom: 6px;

	img {
		width: 24px;
		margin-right: 10px;
		margin-top: -2px;
	}
}

.pModalTitleSub {
	font-size: 15px;
	font-weight: 500;
	font-family: 'Inter';
	color: $font-color-gray;
	margin-bottom: 0px;
	margin-left: 35px;
}

.btnDeleteAccount {
	padding: 7px 13px;
	border: 2px solid #F5F5F5;
	border-radius: 8px;
	background-color: #fafafa;
	color: $font-color-blue;
	font-family: 'Inter';
	margin-top: 12px;
	margin-right: 15px;
	margin-left: 15px;
	outline: none !important;
	min-width: 150px;

	&:first-child {
		background-color: #362D64;
		color: white;
		margin-left: 30px;
	}

	&:hover {
		box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

	}
}


.divEvents {
	padding-left: 270px;
	display: none;
	margin-top: 85px;

	.divCalendar {
		background-color: white;
		border: 2px solid $border-color-white;
		border-radius: 10px;
		margin-top: 20px;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
		padding: 10px !important;
		height: 900px;
	}

	p {
		font-size: 35px;
		font-family: 'Inter';
		color: $font-color-black;
		font-weight: 800;
		margin-bottom: 3px;

		&:not(:first-child) {
			font-size: 14px;
			font-weight: 500;
			font-family: 'Inter';
			color: $font-color-gray;
			width: 550px;
			display: block;
		}
	}

	.conCalendar {
		background-color: #fff;
		border: 1px solid $border-color-white;
		border-radius: 4px;
		padding: 0px;
		margin-top: 20px;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
		margin-bottom: 20px;

		.rbc-header {
			font-size: 15px;
			font-family: 'Inter';
			color: $font-color-gray;
			padding: 10px;
			font-weight: 600;
			height: 50px;

			a {
				span {
					padding-bottom: 10px !important;
				}
			}
		}

		.rbc-date-cell {
			text-align: center;
			font-family: 'Inter';
			font-size: 13px;
			color: #424242;
			margin-top: 7px;
		}

		.rbc-day-bg {
			transition: all 0.2s;
			cursor: pointer;

			&:hover {
				background-color: #9FA8DA;
			}
		}

		.rbc-off-range-bg {
			background-color: #F5F8FA;
		}

		.rbc-current {
			color: $font-color-blue;
		}

		.rbc-today {
			background-color: transparent;
		}

		.rbc-event {
			background-color: #F2F1FF;
			border-radius: 2px;
			border-left: 2px solid #676DFF;
		}

		.rbc-event-content {
			color: #676DFF;
			padding: 4px 4px;
			font-family: 'Inter';
			font-weight: 600;
			font-size: 14px;
		}

		.spanTime {
			color: #9575CD !important;
			margin-top: 10px;
			font-size: 13px !important;
			font-weight: 500 !important;
		}

	}

	.conToolbar {
		padding-top: 20px;

		.form-inline {

			p {
				font-size: 22px;
				font-family: 'Roboto';
				margin-bottom: 20px;
				font-weight: 500;
				margin-right: 7px;

				img {
					width: 15px;
					margin-right: 14px;
					margin-top: -5px;
					display: none;
				}
			}

			button {
				border: 0px;
				background-color: transparent;
				margin-top: -20px;
				padding: 5px;
				padding-top: 4px;
				border-radius: 50%;
				margin-right: -8px;
				width: 35px;
				outline: none !important;

				&:hover {
					filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(237deg) brightness(104%) contrast(101%);
				}

				img {
					width: 12px;
				}
			}
		}

		.btnNav {
			background-color: transparent;
			font-size: 14px;
			font-family: 'Inter';
			border-radius: 5px;
			color: $font-color-gray;
			padding: 5px;
			width: 100px;
			border: 1px solid #E0E0E0;
			margin-right: 10px;
			outline: none !important;

			&:hover {
				color: $font-color-blue;
				background-color: $bg-color-hover-white;
			}
		}

		.btn-group {
			border: 1px solid #E0E0E0;
			border-radius: 5px;
			margin-top: -2px;
			outline: none !important;

			&:focus {
				box-shadow: none !important;
			}

			button {
				background-color: transparent;
				font-size: 14px;
				font-family: 'Inter';
				color: $font-color-gray;
				padding: 5px;
				width: 100px;
				border: 0px;
				outline: none !important;

				&:hover {
					color: $font-color-blue;
					background-color: $bg-color-hover-white;
				}

				&:focus {
					box-shadow: none !important;
				}
			}
		}
	}


}

.modal-content {
	border-radius: 10px;
	background-color: white;
	border: 1px solid $font-color-blue;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

	.divModal {
		background-color: white;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
		border: 0px;
		border-radius: 10px;

		.container {
			padding: 0px;
		}

		.row2nd {
			margin-top: 5px;
		}

		.pHeader {
			color: $font-color-black;
			font-size: 1rem;
			font-weight: 600;
			font-family: 'Inter';
		}

		.pTime {
			color: #424242;
			font-size: 0.8rem;
			font-weight: 500;
			font-family: 'Inter';
			margin-bottom: 2px;

			img {
				margin-right: 10px;
				margin-top: -2px;
			}
		}

		.pDate {
			color: #757575;
			font-size: 0.8rem;
			font-weight: 500;
			font-family: 'Inter';
		}

		.pDesc {
			color: #424242;
			font-size: 0.8rem;
			font-weight: 500;
			font-family: 'Inter';

			img {
				margin-right: 10px;
				margin-top: -2px;
			}
		}

		.pSession {
			color: #6F51ED;
			background-color: #F4F2FD;
			font-size: 0.8rem;
			font-family: 'Inter';
			font-weight: 500;
			padding: 8px 15px;
			width: max-content;
			border-radius: 20px;
		}

		.rowMembers {
			p {
				color: $font-color-black;
				font-size: 0.9rem;
				font-weight: 600;
				font-family: 'Inter';
				margin-bottom: 10px;
			}

			.pHost {
				color: #424242;
				font-size: 0.8rem;
				font-weight: 600;
				font-family: 'Inter';
				margin-bottom: 2px;

				img {
					width: 24px;
					margin-right: 10px;
					margin-top: -2px;
				}
			}

			.pHostsub {
				color: #6B5BCC;
				font-size: 0.7rem;
				font-weight: 500;
				font-family: 'Inter';
				margin-bottom: 2px;
				margin-left: 37px;
				margin-top: -5px;
			}

			button {
				padding: 8px 15px;
				outline: none;
				font-size: 0.9rem;
				font-weight: 500;
				font-family: 'Inter';
				width: 100%;
				margin-top: 15px;
				width: 45%;

				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
				border: 0px;
				border-radius: 5px;

				&:first-child {

					background-color: #6B5BCC !important;
					color: white;
					margin-right: 20px;
				}

				&:last-child {
					background-color: #DA3059;
					color: white;
				}
			}


		}
	}
}

.modal-backdrop {
	background-color: transparent;
}

.text-danger {
	font-size: 0.8rem;
	font-weight: 500;
	font-family: 'Inter';
	margin-top: 5px;
}

.divLocation {
	padding-left: 270px;
	display: none;
	margin-top: 85px;
	p {
		font-size: 35px;
		font-family: 'Inter';
		color: $font-color-black;
		font-weight: 800;
		margin-bottom: 3px;

		&:not(:first-child) {
			font-size: 14px;
			font-weight: 500;
			font-family: 'Inter';
			color: $font-color-gray;
			width: 500px;
			display: block;
		}
	}
	button {
		padding: 7px 16px;
		border: 2px solid #F5F5F5;
		border-radius: 8px;
		background-color: #fafafa;
		color: $font-color-blue;
		font-family: 'Roboto';
		margin-top: 12px;
		margin-right: 5px;
		margin-left: 15px;
		outline: none !important;

		img {
			margin-right: 8px;
		}

		&:hover {
			box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

		}
	}
}

.tableLocation  {
	margin-top: -4px;

	thead {
		tr {
			th {
				font-family: 'Inter';
				padding: 15px;
				font-size: 14px;
				font-weight: 600 !important;
				background-color: #F9F9FB;
				border-bottom: 2px solid #EEEEEE !important;
			}
		}
	}
	tbody {
		tr {
			td {
				width: 15%;
				
				p {
					font-size: 14px;
					color: #424242;
					font-family: "Roboto";
					font-weight: 500;
				}
			}
		}
		button {
			border: 2px solid $border-color-white;
			background-color: #F9F9FB;
			border-radius: 5px;
			padding: 5px;

		}
	}

	
}


.btnCancelLocation,
		.btnSaveLocation {
			padding: 7px 13px;
			border: 2px solid #F5F5F5;
			border-radius: 8px;
			background-color: #fafafa;
			color: $font-color-blue;
			font-family: 'Roboto';
			margin-top: 12px;
			outline: none !important;
			width: 100%;

			&:hover {
				box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

			}
		}