@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


$bg-color-blue: rgb(5, 19, 58);
$bg-color-lightblue: rgb(31, 43, 80);
$bg-color-darkwhite: #FAFBFD;
$bg-color-hover-white: #F7F8FA;
$border-color-white: #f5f5f5;
$font-color-black: #081333;
$font-color-blue: #003171;
$font-color-gray: rgb(78, 81, 103);
$font-color-white: #E0E0E0;


html,
body {
	position: relative;
	padding: 0;
	margin: 0;
	background-color: $bg-color-darkwhite;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: unset;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	text-rendering: optimizeLegibility !important;
}



#sidebar {
	padding: 35px 20px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 250px;
	background-color: $bg-color-blue;
	border-right: 2px solid $bg-color-hover-white;
	z-index: 1;

	#logo {
		image-rendering: -moz-crisp-edges;
		image-rendering: crisp-edges;

	}

	.divLine {
		position: absolute;
		top: 160px;
		left: 0px;
		width: 4px;
		height: 30px;
		background-color: rgb(79, 169, 177);
		border-radius: 5px;
		transition: all 0.2s;
	}

	.txtSearch {
		margin: 25px 0px;
		width: 100%;
		padding: 8px;
		padding-left: 35px;
		border: 0px;
		border-radius: 5px;
		height: 40px;
		font-family: Inter;
		font-size: 15px;
		color: $font-color-white;
		outline: $bg-color-darkwhite !important;
		background: $bg-color-lightblue url(../public/Image/icon/loupe.png) left no-repeat;
		background-size: 18px;
		background-position: 10px;
		caret-color: white;

		&::-webkit-input-placeholder {
			color: #9FA8DA;
		}

		&:-moz-placeholder {
			color: #9FA8DA;
		}

		&::-moz-placeholder {
			color: #9FA8DA;
		}

		&:-ms-input-placeholder {
			color: #9FA8DA;
		}
	}
}



.ulSidebar {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	margin-top: -5px;

	li {
		transition: all 0.2s;
		cursor: pointer;
		border-radius: 5px;
		margin-top: 5px;
		padding: 10px 10px;
		position: relative;

		&:hover {
			background: $bg-color-lightblue;
		}

		span {
			font-size: 14px;
			color: white;
			font-family: Inter;
			margin-left: 10px;
		}

		.imgSidebar {
			cursor: pointer;
			width: 20px;
			image-rendering: -moz-crisp-edges;
			image-rendering: crisp-edges;
			margin-top: -5px !important;
		}

		.circle-with-text {
			position: absolute;
			color: white;
			top: 13px;
			font-size: 14px;
			font-family: Inter;
			background-color: #F94350;
			right: 15px;
			padding: 8px;
			width: 20px;
			height: 20px;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			text-align: center;
			display: flex;
		}

	}
}

.hrSidebar {
	background-color: $bg-color-lightblue;
}

.divNavbar {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 70px;
	border-bottom: 2px solid $bg-color-hover-white;
	color: #fff;
	background-color: #fff;

	#dropdown-basic-button {
		float: right;
		margin-top: 14px;
		background-color: transparent !important;
		font-size: 15px;
		font-family: Inter;
		color: $font-color-black;
		border: none !important;
		font-weight: 600;
		outline: none !important;

		&:focus {
			border-color: none !important;
			outline: 0;
			-webkit-box-shadow: none !important;
			box-shadow: none !important;
		}
	}

	.divTime {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 20px;
		display: none;
		text-align: center;
		width: 300px;

		p {
			font-size: 18px;
			font-family: 'Inter', sans-serif;
			font-weight: 600;
			color: $font-color-black;
			margin-bottom: 0px;
		}

	}

	.divHamburger {
		position: absolute;
		left: 260px;
		top: 15px;

		button {
			outline: none !important;
		}
	}
}

.dropdown {
	#dropdown-basic-button {
		font-size: 15px;
		font-family: 'Roboto';
		color: $font-color-black;
		font-weight: 600;
	}
}


.dropdown-item {
	font-size: 15px;
	font-family: 'Roboto';
	color: $font-color-black;
	font-weight: 600;

	&:hover {
		color: $bg-color-blue !important;
	}
}

#imgProfile {
	border-radius: 50%;
	object-fit: cover;
	float: right;
	margin-top: 14px;
}

.divDashboard {
	padding-left: 270px;
	margin-top: 85px;

	.pWelcome {
		font-size: 35px;
		font-family: 'Inter';
		color: $font-color-black;
		font-weight: 800;
		margin-bottom: 3px;
	}

	.pNew {
		font-size: 14px;
		font-family: Inter;
		color: $font-color-gray;
		font-weight: 600;
		margin-left: 2px;
	}

	.divTimeEntry {
		display: none;

		thead {
			tr {
				th {
					font-family: 'Inter';
					border-bottom: 2px solid #EEEEEE !important;
				}
			}
		}
	}

	.divSearch {
		background-color: #fff;
		width: 100%;
		height: 70px;
		border-radius: 10px;
		border: 2px solid $bg-color-hover-white;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

		.txtSearch {
			padding: 8px;
			padding-left: 40px;
			border: 2px solid #F5F5F5;
			font-family: 'Inter', 'Roboto';
			font-weight: 500;
			width: 350px;
			color: $font-color-black;
			outline: none !important;
			border-radius: 8px;
			margin-top: 12px;
			margin-left: 10px;
			margin-right: 20px;
			background: $bg-color-hover-white url(../public/Image/icon/loupe_blue.png) left no-repeat;
			background-size: 18px;
			background-position: 10px;
		}

		.btnSearch,
		.btnAdd {
			padding: 7px 13px;
			border: 2px solid #F5F5F5;
			border-radius: 8px;
			background-color: #fafafa;
			color: $font-color-blue;
			font-family: 'Roboto';
			margin-top: 12px;
			margin-right: 10px;
			margin-left: 15px;
			outline: none !important;
			width: auto !important;

			img {
				margin-right: 8px;
			}

			&:hover {
				box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

			}

			.btnAdd {
				margin-right: 0px !important;
			}
		}

		.btnAdd {
			margin-left: 0px !important;
		}
	}

}

.ulDashboard {
	list-style-type: none;
	overflow: hidden;
	margin: 0px auto;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 15px;
	margin-left: 5px;

	li {
		font-family: 'Roboto';
		float: left;
		font-size: 15px;
		display: block;
		color: $font-color-gray;
		text-align: center;
		margin-right: 35px;
		text-decoration: none;
		cursor: pointer;
		margin-bottom: 0px;
		width: max-content;
		text-align: center;
		padding-bottom: 7px;

	}

	.activeUl {
		color: $font-color-blue;
		font-weight: 700;
		border-bottom: 2px solid $font-color-blue;
	}
}

.activeUl {
	color: $font-color-black;
	font-weight: 700;
	border-bottom: 2px solid $bg-color-blue;
}

.hrDashboard {
	background-color: #ffffff;
	height: 2px;
	margin-top: 0px;
	margin-left: 5px;
}


.modal-body {
	padding: 25px;

	.modal-details {
		margin-top: 10px;
		padding: 0px;

		.pModalheadertext {
			color: #616161;
			font-family: 'Roboto';
			font-size: 14px;
			font-weight: 600;
			margin-left: 2px;
			margin-bottom: 2px;
			margin-top: 10px;
		}

		.txtInput {
			padding: 8px;
			border-radius: 5px;
			font-family: 'Roboto';
			font-size: 15px;
			width: 100%;
			background: #F7F8FA;
			border: 2px solid #EEEEEE;
			outline: none;

			&:focus {
				border-color: #003171;
				transition-delay: 0.1s;
			}
		}

		.btnSaveEvent,
		.btnCancelEvent {
			padding: 7px 13px;
			border: 2px solid #F5F5F5;
			border-radius: 8px;
			background-color: #fafafa;
			color: $font-color-blue;
			font-family: 'Roboto';
			margin-top: 12px;
			margin-right: 10px;
			margin-left: 15px;
			outline: none !important;
			min-width: 150px;

			&:hover {
				box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

			}
		}
	}

	.pModalheader {
		color: #3E3D42;
		font-family: 'Inter';
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 2px;
	}

	.pModalheadersub {
		color: #757575;
		font-family: 'Inter';
		font-size: 14px;
		font-weight: 500;
		margin-left: 2px;
	}

}



table {
	margin-top: 20px;
	border-collapse: separate;
	border-spacing: 0 4px;

	tbody {
		tr {
			&:hover {
				background-color: #F3F2EE;
			}
		}
	}

	th {
		color: $font-color-gray;
		font-family: 'Roboto';
		font-size: 15px;
	}

	tr {
		cursor: pointer;
		padding: 2px;
		border-radius: 5px;


	}

	td {
		color: $font-color-blue;
		font-family: 'Inter';
		font-size: 15px;
		font-weight: 600;

		p {
			color: $font-color-blue;
			margin-bottom: 0px;

			img {
				width: 15px;
				margin-right: 5px;
				margin-top: -2px;
			}
		}

		.tableNotes {
			display: block;
			width: 400px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			;
			font-size: 14px;
			margin-top: 3px;
		}

		.pBuss {
			color: #FC883B;
			width: max-content;
			border-radius: 5px;

		}

		.pSession {
			color: #6B5BCC;
			width: max-content;
			border-radius: 5px;

		}

		img {
			width: 30px;
			object-fit: cover;
			border-radius: 50%;
			margin-top: -5px;
			margin-right: 2px;
		}
	}
}

.react-datepicker-wrapper {
	background: #F7F8FA;
	border: 2px solid #EEEEEE;
	padding: 8px;
	border-radius: 5px;
	width: 100%;
}

.react-datepicker__input-container {
	background: #F7F8FA;
	border: 2px solid #EEEEEE;
	padding: 8px;
	border-radius: 5px;
	width: 100%;

	&:focus {
		border: 2px solid $font-color-blue;
	}

	input {
		background-color: transparent;
		font-size: 15px;
		font-family: 'Roboto';
		border: 0px;
		outline: none !important;

	}
}



textarea {
	padding: 8px;
	border-radius: 5px;
	font-family: 'Roboto';
	font-size: 15px;
	width: 100%;
	background: #F7F8FA;
	border: 2px solid #EEEEEE;
	outline: none;
	margin-bottom: -2px;
	resize: none;

	&:focus {
		border: 2px solid $font-color-blue;
	}
}

.tableAppointment,
.tableTime {
	margin-top: -4px;

	thead {
		tr {
			th {
				font-family: 'Inter';
				padding: 15px;
				font-size: 14px;
				font-weight: 600 !important;
				background-color: #F9F9FB;
				border-bottom: 2px solid #EEEEEE !important;
			}
		}
	}

	tbody {
		tr {
			&:hover {
				background-color: #F3F2EE;
			}

			td {
				padding: 30x auto;
			}
		}
	}
}

.divDocuments {
	padding-left: 270px;
	display: none;
	margin-top: 85px;

	p {
		font-size: 35px;
		font-family: 'Inter';
		color: $font-color-black;
		font-weight: 800;
		margin-bottom: 3px;

		&:not(:first-child) {
			font-size: 14px;
			font-weight: 500;
			font-family: 'Inter';
			color: $font-color-gray;
			width: 500px;
			display: block;
		}
	}

	.txtSearch {
		padding: 8px;
		padding-left: 40px;
		border: 2px solid $border-color-white;
		font-family: 'Inter', 'Roboto';
		font-weight: 500;
		width: auto;
		color: $font-color-black;
		outline: none !important;
		border-radius: 8px;
		margin-top: 12px;
		margin-left: 5px;
		background: $bg-color-hover-white url(../public/Image/icon/loupe_blue.png) left no-repeat;
		background-size: 18px;
		background-position: 10px;
		transition: all 0.1s;

		&:focus {
			border-color: rgba(0, 49, 113, 0.5)
		}
	}

	.btnCreateDocu {
		padding: 9px 13px;
		border: 2px solid #EEEEEE;
		border-radius: 8px;
		background-color: #fff;
		color: $font-color-blue;
		font-family: 'Roboto';
		margin-top: 12px;
		margin-right: 10px;
		margin-left: 15px;
		outline: none !important;
		float: right;

		&:hover {
			box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;
		}
	}
}

.tableDocu {


	thead {
		tr {
			th {
				font-family: 'Inter';
				padding-left: 0px;
				padding-bottom: 25px;
				border-bottom: 2px solid #424242 !important;
			}
		}
	}

	tbody {
		tr {

			td {
				vertical-align: middle;
				border-bottom: 1px solid #E3E2E2;

				p {
					font-size: 14px;
					color: $font-color-black;
					font-family: "Roboto";

				}

				.pItemName {
					color: $font-color-black;
					font-family: "Roboto";
					font-weight: 600 !important;
					font-size: 15px;

					img {
						width: 35px !important;
						border-radius: 0px !important;
						margin-right: 15px;
					}
				}

				.pSize {
					background-color: #E5E5E5;
					padding: 5px;
					color: gray;
					text-align: center;
					max-width: 80px;
					border-radius: 4px;
				}
			}
		}
	}
}


.divEmr {
	padding-left: 270px;
	display: none;
	margin-top: 85px;

	p {
		font-size: 35px;
		font-family: 'Inter';
		color: $font-color-black;
		font-weight: 800;
		margin-bottom: 3px;

		&:not(:first-child) {
			font-size: 14px;
			font-weight: 500;
			font-family: 'Inter';
			color: $font-color-gray;
			width: 550px;
			display: block;
		}
	}

	button {
		padding: 7px 16px;
		border: 2px solid #F5F5F5;
		border-radius: 8px;
		background-color: #fafafa;
		color: $font-color-blue;
		font-family: 'Roboto';
		margin-top: 12px;
		margin-right: 5px;
		margin-left: 15px;
		outline: none !important;

		img {
			margin-right: 8px;
		}

		&:hover {
			box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

		}
	}

	.divSearch {
		margin-top: 25px;
		background-color: #fff;
		width: 100%;
		height: 68px;
		border-radius: 10px;
		border: 2px solid $bg-color-hover-white;
		box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

		.txtSearch {
			padding: 8px;
			padding-left: 40px;
			border: 2px solid $border-color-white;
			font-family: 'Inter', 'Roboto';
			font-weight: 500;
			width: 48% !important;
			color: $font-color-black;
			outline: none !important;
			border-radius: 8px;
			margin-top: 4px;
			margin-left: 5px;
			margin-right: 40px;
			background: $bg-color-hover-white url(../public/Image/icon/loupe_blue.png) left no-repeat;
			background-size: 18px;
			background-position: 10px;
		}

		.react-datepicker-wrapper {
			background: transparent !important;
			border: none !important;
			padding: 8px;
			border-radius: 5px;
			width: 150px;
			margin-top: 4px;
			margin-left: -5px;
		}

		.react-datepicker__input-container {
			background: #F7F8FA;
			border: 2px solid $border-color-white;
			padding: 5px;
			border-radius: 5px;
			width: 100%;

			&:focus {
				border: 2px solid $font-color-blue;
			}

			input {
				background-color: transparent;
				font-size: 15px;
				font-family: 'Inter';
				font-weight: 500;
				border: 0px;
				outline: none !important;

			}
		}

		button {
			margin-top: 5px !important;
			width: 120px;
		}
	}
}

.conEmrtable {
	background-color: white;
	border: 2px solid $border-color-white;
	border-radius: 10px;
	margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
	padding: 0px !important;

}

.tableEmr {
	thead {
		tr {
			th {
				font-family: 'Inter';
				padding-bottom: 25px;
				border-bottom: 2px solid #EEEEEE !important;
			}
		}
	}

	tbody {
		tr {

			td {
				vertical-align: middle;


				p {
					font-size: 14px;
					color: $font-color-black;
					font-family: "Roboto";

				}

			}
		}
	}
}

.divDirectory {
	padding-left: 270px;
	display: none;
	margin-top: 85px;

	p {
		font-size: 35px;
		font-family: 'Inter';
		color: $font-color-black;
		font-weight: 800;
		margin-bottom: 3px;

		&:not(:first-child) {
			font-size: 14px;
			font-weight: 500;
			font-family: 'Inter';
			color: $font-color-gray;
			width: 550px;
			display: block;
		}
	}

	button {
		padding: 7px 16px;
		border: 2px solid #F5F5F5;
		border-radius: 8px;
		background-color: white;
		color: $font-color-blue;
		font-family: 'Roboto';
		margin-top: 12px;
		margin-right: 5px;
		margin-left: 15px;
		outline: none !important;
		float: right;

		&:hover {
			box-shadow: rgba(0, 49, 113, 0.1) 0px 6px 24px 0px, rgba(0, 49, 113, 0.1) 0px 0px 0px 1px;

		}
	}
}

.tableDirectory {
	margin-top: -4px;

	thead {
		tr {
			th {
				font-family: 'Inter';
				padding: 15px;
				font-size: 14px;
				font-weight: 600 !important;
				background-color: #F9F9FB;
				border-bottom: 2px solid #EEEEEE !important;
			}
		}
	}

	tbody {
		tr {

			td {
				vertical-align: middle;
				.form-inline {
					img {
						width: 45px;
						margin-right: 15px;
					}
				}

				p {
					font-size: 14px;
					color: #424242;
					font-family: "Roboto";
					font-weight: 500;
				}
				.pAdmin {
					background-color: #EBF8F5;
					padding: 5px 10px;
					color: #2FB182;
					border-radius: 5px;
					width: max-content;
				}
				.pClinician {
					background-color: #F2F4F8;
					padding: 5px 10px;
					color: #003171;
					border-radius: 5px;
					width: max-content;
				}
				.pActive {
					color: #2FB182;
				}
				.pDraft {
					color: #DA3059;
				}

				span {
					color: $font-color-blue;
					font-family: 'Roboto';
					font-size: 15px;
					font-weight: 600;

					span {
						font-size: 14px;
						font-weight: 500;
						font-family: 'Roboto';
						color: $font-color-gray;
					}
				}
				button {
					border: 2px solid $border-color-white;
					background-color: #F9F9FB;
					border-radius: 5px;
					padding: 5px;

				}

			}

			
		}
	}
}

.imgAction {
	border-radius: 0px !important;
	width: 18px !important;
}
